.login-wrapper{

 background-color: rgb(254, 254, 254);

      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2rem;
     
      border-radius: 20px;
     margin: auto;

}
.login-header{
 display: flex;
 flex-direction: column;
  gap: 0.5rem;
}
form{
 margin-top: 1rem;
 display: flex;
 flex-direction: column;
  gap: 1rem;
}
.Term-condition{
   display: inline-flex;
  flex-direction: row;
  

  gap: 1rem;

}
.footer-base{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hr-lines:before{
  content:" ";
  display: block;
  height: 1px;
  width: 80px;
  position: absolute;
  top: 50%;
  left: 0;
  background: rgb(167, 165, 165);
}
.hr-lines{
  position: relative;
 padding: 0.5rem;
  text-align: center;
}
.hr-lines:after{
  content:" ";
  height: 1px;
  width: 80px;
  background: rgb(167, 165, 165);
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
}
.google_icon{
  font-size: 25px;
}
span{
  font-size: smaller;
}
