.postlogin-wrapper {
  background: url('../assets/images/haseeb-jamil-J9lD6FS6_cs-unsplash.jpg');
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.postlogin-card {
  width: 400px;
  height: 400px;
  background-color: rgb(255, 255, 255);
  border-radius: 48px;
  padding: 2rem;
  position: relative;
display: flex;
  flex-direction: column;
  gap: 2rem;
  /* margin:auto; */
  align-items: center;
  justify-content: center;
}
